/* fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap');

/* variables */
:root{
    --primary: rgba(0, 34, 68, 1);
    --secoundary: rgba(144, 163, 207, 1);
    --gray: rgba(106, 106, 106, 1);
    --blue: rgba(0, 123, 255, 0.7);
    --light-blue: rgba(182, 204, 216, 0.6);
    --blacki: rgba(25, 25, 26, 1);
}
/* reset */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
li{
    list-style: none;
}
/* base styles */
body{

    font-size: 14px;
    height: 100%;
    width: 100%;
}
h1{
    color: rgba(0, 34, 68, 1);
    font-style: bold;
    font-size: 28px; 
    letter-spacing: 2px;
}
h2{
    font-style: bold;
    font-size: 14px; 
    color: rgba(25, 25, 26, 1);
}
h3{
    font-weight: 500;
    font-size: 20px;
    color: white;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: rgba(0, 0, 0, 0.6)
}
#offer{
    font-weight: 500;
    color: white;
   -webkit-text-stroke-width: 0.75px;
   -webkit-text-stroke-color: rgba(0, 0, 0, 0.6)
}
.grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
/* Mobile */
nav{
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 100px;
    margin: 0;
    box-shadow: 0px 0.5px rgba(0, 0, 0, 0.2);

}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
}
.logo img{
    width: 100%;
    height: 100%;
}
.lang-menu {
    width: 80px;
    font-weight: 500;
    margin: 30px 10px 20px 20px;
    grid-column: 12/13;
}
.lang-menu .selected-lang {
    display: flex;   
    line-height:1.2;
    cursor: pointer;
    justify-content: space-between; 
    height: fit-content;
}
.lang-menu .en:before {
    content: '';
    display: inline-block;
    width: 32px;
    margin-right: 5px;
    background-image: url(/graphics/united-kingdom.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.lang-menu .pl:before{
    content: '';
    display: inline-block;
    width: 32px;
    margin-right: 5px;
    background-image: url(/graphics/poland.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 45px;
    right: 0px;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 10px;
    display: block;
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.en:before {
    background-image: url(./graphics/united-kingdom.svg);
}
.pl:before {
    background-image: url(/graphics/poland.svg);
}

.lang-menu:hover ul {
    display: block;
}
.navigation{
        display: none;
    }

.hero{
    background-image: url(/graphics/lOGO\ -znak\ 1.svg);
    background-size: 87%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
    width: 100%;
    overflow:visible;
    height: 50vh;
}
.title {
    width: 80%;
    margin: 0 auto;
    padding-top: 35px;
    justify-content: center;
    text-align: center;
}
.description{
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    width: 70%;
    color: rgba(0, 34, 68, 1);
}
.hero_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0;
    }
.mail{
    background-color: rgba(0, 34, 68, 0.9);
    text-align: center;
    padding: 5px 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: white;
    box-shadow: 1px 1px 2px;
    margin-right: 20px;
}
.mail:active {
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 34, 68, 1);
}
.call{
    background-color: whitesmoke;
    text-align: center;
    padding: 5px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: rgba(0, 34, 68, 1);
    box-shadow: 1px 1px 2px;
}
.call:active {
    background-color: rgba(0, 34, 68, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: white;
}
.gallery{
    width: 100%;
    max-height: 100vh;
    display: flex;

}
.carousel-item{
    height: 50vh;
    align-items: center;
    justify-content: center;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 2px;
}
.works{
    margin-top: 40px;
    margin: 40px 20px;
}
.works h2{
    font-size: 28px;
    margin-top: 15px;
    font-weight: 500;
}
.windows{
    justify-content: center;
    align-items: center;
}
.works_item h2{
    color: rgba(0, 34, 68, 1);
}
.works_item img{
    width: 100%;
    box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 1);
    border-radius: 3px 3px 3px 3px;
}
.works_item{
    margin-top: 50px;
}

.baner{
    background-image: url(/graphics/image\ 2.png);
    width: 100%;
    height:200px;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
}
.baner h3{
    font-size: 30px;
    color: white;
    -webkit-text-stroke-width: 1px;
    margin-top:20px;
}
.baner p{
    font-size: 15px;
} 

.offer_buttons button{
width: 100px;
height: 30px;
font-size: 10px;
align-items: center;
justify-content: center;
margin-left: 10px;
padding: 0;
}

.opinions{
    margin: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.opinion{
    background-color:rgba(182, 204, 216, 0.6) ;
    border-radius: 30px;
    height: fit-content;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 20px 0;
}
.stars{
    margin-bottom: 15px;
}
.star{
    width: 24px;
    height: 24px;  
}
.review{
margin: 10px 10px;
}
.person{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.person p{
    font-size: 15px;
    margin-bottom: 0;
}
.person img{
    width: 32px;
    height: 32px;
    margin-right: 15px;
}
footer{
    display: flex;
}
.footer_logo{

    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_logo img{
    width: 75%;
    width: 75%;
    
}
.socials{
    justify-content: center;
    align-items: center;
    margin: auto;
    
}
.socials img{
    height: 32px;
    width: 32px;
    margin-left: 10px;
}
.contact_data{
    text-align: center;
}
.contact_data h4{
    font-size: 12px;
}
.contact_data p{
    font-size: 8px;
}
/* Tablets */
@media screen and (min-width: 620px) {
    body{
        font-size: 16px;
    }
    
}
/* Laptops */
@media screen and (min-width: 960px) {
    body{
        font-size: 18px;
    }
}
/* Desktop */
@media screen and (min-width: 1200px) {
    body{
        font-size: 20px;
    }
}
